.logo {
  font-style: italic;
  font-size: 18px;
  color: white;
}
.logo a {
  decoration: none;
}
a:hover {
  decoration: none;
  color: gray;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
